.planet{
    
}
.mercury{
    background-color: lightblue;
}
.venus{
    background-color: lightcoral;
}
.earth{
    background-color: lightgoldenrodyellow;
}
.mars{
    background-color: lightgreen;
}
.jupiter{
    background-color: lightpink;
}
.saturn{
    background-color: lightgrey;
}
.uranus{
    background-color: lightsalmon;
}
.neptune{
    background-color: lightslategray;
}