* {
    box-sizing: border-box;
}

#tab {
    position: relative;
    left: 30px;
}

.redLettering {
    border: 2px solid red;
    text-align: center;
    color: red;
    margin-left: 6.6%;
    margin-right: 6.6%;
    margin-top: auto;
    margin-bottom: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 20px 8px;
}